* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif   
}
.top-bar timer{
    float:right;

}
.top-bar button{
    outline:none;
    background-color:white;
    color: blueviolet;
}
.start-content{
    justify-content: center;
}
.timer{
    float:right;
}
#start-content{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    align-items: center;    
}


button{
    border:none;
    outline: none;
    background-color:blueviolet;
    color: white;
   
    
}

#heading{
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    align-items: center;  
}

#content button.choice{
    display:block;
    margin: auto;
    margin-bottom:1%;
}




